*{
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar{
  width: 7px;
  background-color: #ced6e0;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,tomato);
  border-radius: 12px;
  height: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent,yellow);
    border-radius: 12px; 
}

body{
	background-color: #ced6e0;
}
.logo img{
    height: 110px;
}
.header {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_header {
	width: 450px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main_header a{
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
    transition: 0.2s;
}
.main_header a:hover{
	color: #f1c40f;
	transition: 0.2s;
}
.contact button{
    margin-right: 60px;
	font-size: 15px;
	background-color: #0398fc;
	color: black;
	border: none;
	border-radius: 10px;
	padding: 10px 45px;
	cursor: pointer;
	transition: 0.5s linear;
    -webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.75);
  }

.contact button:hover{
	background-color: #636e72;
	color: #fff;
	transition: 0.2s linear;
	-webkit-box-shadow: 10px 10px 22px -5px rgba(66,183,212,1);
    -moz-box-shadow: 10px 10px 22px -5px rgba(66,183,212,1);
    box-shadow: 10px 10px 22px -5px rgba(66,183,212,1);
}
.contact button a{
	text-decoration: none;
}
.leftlogo img{
	position: absolute;
	left: 4%;
	top: 32%;
	width: 300px;
}
.rightlogo img{
	position: absolute;
	right: 4%;
	top: 32%;
	width: 300px;
}
.welcome h1{
	width: 300px;
	height: 150px;
	padding-top: 120px;
	text-align: center;
	background-color:#0398fc;
	position: absolute;
	top: 40%;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	left: 37%;
	cursor: pointer;
	transition: 0.2s linear;
	animation: animate 2s linear infinite;
	animation-direction: alternate;
}
@keyframes animate{
	0%{
		border-radius: 0%;
	}
	75%{
		background-color: lightgreen;
	}
	100%{
		border-radius: 50%;
		background-color: lightgreen;
	}
}
.welcome h1::after{
	content: "Atomic-Gamer";
	animation: textchange 2s linear infinite;
	color: tomato;
}
@keyframes textchange{
    0%{
         content: "Atomic-Gamer";
    }
    100%{
    	content: "AbhijeetGamer";
    }
}
.aboutus h2{
    position: absolute;
    left: 45%;
    top: 105%;
    color: #2c3e50;
}

.subscribe button{
    height: 37px;
    width: 90px;
    position: fixed;
    outline: none;
    font-size: 16px;
    font-family:  'Raleway', sans-serif;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    animation: subscribe 2s linear infinite;
    animation-direction: alternate;
    z-index: 999;
    transition: 0.2s linear;
}
@keyframes subscribe{
	0%{
	   height: 37px;
	   width: 90px;
	   font-size: 16px;
	}
	25%{
	   height: 40px;
	   width: 93px;
	   font-size: 18px;
	}
	75%{
		height: 43px;
		width: 96px;
		background-color: #e84118;
		font-size: 19px;
	}
	100%{
		height: 46px;
		width: 99px;
		background-color: #c23616;
		font-size: 20px;
	}
}


